<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="true"
	xmlns:log4j='http://jakarta.apache.org/log4j/'>
	<appender name="INFOAPP" class="com.org.mntr.utils.CompositeRollingAppender">
		<param name="File" value='D:/ECProjectsTemp/MNTR/Log/mntr_info.log' />
		<param name="Threshold" value="INFO" />
		<param name="DatePattern" value="'.'dd-MM-yyyy" />
		<param name="MaxFileSize" value="100MB" />
		<param name="MaxSizeRollBackups" value="100" />
		<param name="staticLogFileName" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601}  %c  %l [%t] %x - %m%n" />
		</layout>
	</appender>
	<appender name="DEBUGAPP" class="com.org.mntr.utils.CompositeRollingAppender">
		<param name="File" value='D:/ECProjectsTemp/MNTR/Log/mntr_debug.log' />
		<param name="Threshold" value="DEBUG" />
		<param name="DatePattern" value="'.'dd-MM-yyyy" />
		<param name="MaxFileSize" value="100MB" />
		<param name="MaxSizeRollBackups" value="100" />
		<param name="staticLogFileName" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601}  %c  %l [%t] %x - %m%n" />
		</layout>
	</appender>
	<appender name="ERRORAPP" class="com.org.mntr.utils.CompositeRollingAppender">
		<param name="File" value='D:/ECProjectsTemp/MNTR/Log/mntr_error.log' />
		<param name="Threshold" value="ERROR" />
		<param name="DatePattern" value="'.'dd-MM-yyyy" />
		<param name="MaxFileSize" value="100MB" />
		<param name="MaxSizeRollBackups" value="100" />
		<param name="staticLogFileName" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601}  %c  %l [%t] %x - %m%n" />
		</layout>
	</appender>
	<logger name="org.springframework.web">
		<level value="DEBUG" />
		<appender-ref ref="DEBUGAPP" />
	</logger>
	<root>
		<level value="ALL" />
		<appender-ref ref="INFOAPP" />
		<appender-ref ref="DEBUGAPP" />
		<appender-ref ref="ERRORAPP" />
	</root>
</log4j:configuration>
